
<!doctype html>
<html lang="en">

<head>
  <title>Url Shortener</title>
</head>

<body>
  <div>
    <h1>
      Soham's URL Shortener
    </h1>
    
    <h3>Urls for Testing</h3>
    <code>https://fcc-url-shortener-soham1.c9users.io/new/https://www.google.com</code>
    <br>
    <code>https://fcc-url-shortener-soham1.c9users.io/new/http://freecodecamp.com/news</code>
    <h3>JSON output:</h3>
    <code>
      {
        "original_url": "http://freecodecamp.com/news",
        "short_url": "https://fcc-url-shortener-soham1.c9users.io/4"
      }
    </code>
    <h3>Usage:</h3>
    <code>https://fcc-url-shortener-soham1.c9users.io/4</code>
    <h3>Will redirect to:</h3>
    <code>http://freecodecamp.com/news</code>
  </div>
</body>

</html>
