
<!doctype html>
<html lang="en">

<head>
  <title>Url Shortener</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Soham's URL Shortener</a>
    </div>
  </nav>
  <div>
    <h3>Urls for Testing</h3>
    <code>https://fcc-url-shortener-soham1.c9users.io/new/https://www.google.com</code>
    <br>
    <code>https://fcc-url-shortener-soham1.c9users.io/new/http://freecodecamp.com/news</code>
    <h3>JSON output:</h3>
    <code>
      {
        "original_url": "http://freecodecamp.com/news",
        "short_url": "https://fcc-url-shortener-soham1.c9users.io/4"
      }
    </code>
    <h3>Usage:</h3>
    <code>https://fcc-url-shortener-soham1.c9users.io/4</code>
    <h3>Will redirect to:</h3>
    <code>http://freecodecamp.com/news</code>
  </div>
</body>

</html>
